<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996518464953-ir0ilvi21ln2dosucburc1k1j38hh98h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996518464953-ir0ilvi21ln2dosucburc1k1j38hh98h</string>
	<key>API_KEY</key>
	<string>AIzaSyBC1OAIMRp805UHjk6np4NDhvq39ZtRrkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>996518464953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andconnection.live</string>
	<key>PROJECT_ID</key>
	<string>loginswiftuiand</string>
	<key>STORAGE_BUCKET</key>
	<string>loginswiftuiand.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996518464953:ios:da6e539d5a8b84408f7a68</string>
</dict>
</plist>